/* ============================================= */
/*              Variables                        */
/* ============================================= */
$color-1: #58e1c1; //4 uses
$color-2: #51ddfc; //3 uses
$color-3: #927bc1; //2 uses
$color-4: #fd7856; //2 uses
$color-5: #e4757a; //2 uses
$color-6: #63cc82; //2 uses

$breakpoint: 768px;
  